<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-4 text-danger">About FastX</h2>
        <p class="lead">FastX is a leading bus booking platform that connects travelers with bus operators across various routes. With a user-friendly interface and advanced features, FastX makes it easy for travelers to book bus tickets online and manage their travel plans conveniently.</p>
        <p>Our mission is to provide a seamless and hassle-free bus booking experience to our users, ensuring reliability, affordability, and safety at every step of the journey.</p>
        <p>We are committed to:</p>
        <ul>
          <li>Offering a wide selection of bus operators and routes to meet diverse travel needs</li>
          <li>Providing transparent pricing and booking policies</li>
          <li>Ensuring high standards of safety and comfort for passengers</li>
          <li>Offering responsive customer support to address any queries or concerns</li>
        </ul>
        <p>At FastX, we believe in leveraging technology to enhance the travel experience and empower travelers to explore new destinations conveniently and affordably.</p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/bus2.avif" class="img-fluid" alt="About Us Image">
      </div>
    </div>
   
  </div>
  