<div class="container mt-5 d-flex flex-column align-items-center">
    <h2 class="mb-4">Operator's Dashboard</h2>
    <div class="row">
      <div class="d-grid gap-2"> 
        <button routerLink="/seat" class="btn btn-danger btn-lg btn-block">Bus Seat Arrangements</button>
      </div>
     <hr/>
      <div class="d-grid gap-2">
        <button routerLink="/booking" class="btn btn-danger btn-lg btn-block">View Booking Details</button>
      </div>
      <hr/>
      <div class="d-grid gap-2">
        <button routerLink="/schedule" class="btn btn-danger btn-lg btn-block">Bus Schedule Management</button>
      </div>
    </div>
  </div>
  
