<!-- Place this HTML where you want your navigation to appear -->

<!-- <body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1dYZUu1MmJOBOGwsYyyV5Mf9icRXO5oPyC9i4H4N5vmVItosuJt4bxpogwVYECIhXT0U&usqp=CAU">  -->


  <div class="text-center mt-3">
    <div class="bg-light p-3 rounded">
      <p class="mb-0">Welcome to FastX, your trusted platform for hassle-free bus bookings. Sit back, relax, and let us take care of your travel needs.</p>
      <ul class="nav justify-content-center">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Buses</a>
        </li>  -->
        <li class="nav-item">
          <button class="btn btn-danger"><a class="btn btn-danger nav-link " routerLink="/userbooking" routerLinkActive="active"></a>Booking</button>
        </li>
        <!-- Add more menu items as needed -->
      </ul>
    </div>
  </div>  

       
    

