.centered-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Adjust the height based on your design */
    margin-top: 50px; 
  }
  
  .card {
    width: 300px; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 15px; 
  }
  
  nav a {
text-decoration: none;
color: black; 
font-weight: bold;
font-size: 18px;
}
nav a.active {
    color:blue;
}
