<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold text-danger">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')"> <span class="fa fa-user p-2"></span> <input formControlName="Email" type="text" placeholder="Email" required> </div>
                            </div>
                            <small *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')" class="text-danger">*Email is required*</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')"> <span class="fa fa-lock px-2"></span> <input formControlName="Password" [type]="type" placeholder="Password"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button>                                    </div>
                            </div>
                            <small *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')" class="text-danger">*Password is required*</small>
                            <div class="form-group">
                                <label for="Role" class="form-label">Choose Role:</label>&nbsp;
                                <select formControlName="Role" name="Role" id="Role" class="form-select">
                                  <option value="" selected>Select Role</option>
                                  <option value="User">User</option>
                                  <option value="Admin">Admin</option>
                                  <option value="Operator">Operator</option>
                                </select>
                              </div>
                            <div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold">Forgot password?</a> </div>
                            <button type="submit" class="btn btn-danger btn-block mt-4 w-100">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have an account? <a id="forgot" href="#" routerLink="/signup">Sign up</a> </div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://wwww.facebook.com" target="_blank" class="px-2"> <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a>
                            <a href="https://www.google.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a>
                            <a href="https://www.github.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Forget your password?</span><br>
                    <small>Please provide your E-mail we will send the reset link</small></p>
  
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  
            </div>
  
            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field"> <span class="fa fa-user p-2"></span> <input type="text" placeholder="Email"> </div>
                </div>
                <small class="text-danger">*Email is required*</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
  </div> -->




<!-- <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                    <form [formGroup]="loginForm">
                            <div class="form-outline mb-4">

                                <input type="email" formControlName="Email" id="Email" class="form-control" />
                                <label class="form-label" for="Email">Email address</label>
                                <div *ngIf="loginForm.controls['Email'].errors && loginForm.controls['Email'].touched"
                                    class="text-danger">
                                    Enter a valid email address.
                                </div>
                            </div>

                            <div class="form-outline mb-4">

                                <input type="password" formControlName="Password" id="Password" class="form-control" />
                                <label class="form-label" for="Password">Password</label>
                                <div *ngIf="loginForm.controls['Password'].errors && loginForm.controls['Password'].touched"
                                    class="text-danger">
                                    Enter Password
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="Role">Choose Role:</label>&nbsp;
                                <select formControlName="Role" name="Role" id="Role">
                                    <option value="" selected>Select Role</option>
                                    <option value="User">Customer</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Operator">Operator</option>
                                </select>

                            </div>

                            
                            <div class="alert alert-warning alert-dismissible fade show my-2" role="alert" *ngIf="showErrorStatus">
                                <strong>Wrong Credentials</strong> Check your email and password!
                                <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorAlert()"></button>
                              </div>
                              
                            <button type="submit" class="btn btn-primary btn-block mb-4 my-3" (click)="login()"
                                [disabled]="loginForm.invalid">
                                Login
                            </button>
                            <div class="text-center">
                                <a routerLink="/register">or Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div> -->

    

<!-- Section: Design Block -->