
<h1 class="text-center">My Booking Table</h1>
<table class="table table-center">


    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Username</th>
        <th>Bus Name</th>
        <th>Bus Number</th>
        <th>Total Seats</th>
        <th>Total Cost</th>
        <th>Booking Date</th>
      </tr>
    </thead>
    <tbody>
      <td>1</td>
      <td>Vishi</td>
      <td>Jeevan Travels</td>
      <td>DL-02-11R5</td>
      <td>1</td>
      <td>1000</td>
      <td>13-03-2024</td>
    </tbody>
  </table>

