/* booking.component.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: rgb(241, 45, 45);
    color: white; 
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  tbody tr:hover {
    background-color: #ddd; 
  }
  
  
  
  @media (max-width: 600px) {
    th, td {
      font-size: 12px;
    }
  }
  