<table>
  <thead>
    <tr>
      <th>Bus ID</th>
      <th>Bus Number</th>
      <th>Bus Name</th>
      <th>Schedule ID</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Fare</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of scheduleWithBusDetails">
      <td *ngIf="schedule.Bus">{{ schedule.Bus.BusId }}</td>
      <td *ngIf="schedule.Bus">{{ schedule.Bus.BusNumber }}</td>
      <td *ngIf="schedule.Bus">{{ schedule.Bus.BusName }}</td>
      <td>{{ schedule.ScheduleId }}</td>
      <td>{{ schedule.DepartureTime }}</td>
<td>{{ schedule.ArrivalTime }}</td>

      <td>{{ schedule.Fare }}</td>
      <td>
        <i class="fa fa-trash red-icon" (click)="delRecord(schedule.ScheduleId)"></i>
      </td>
      <td>
        <i class="fa fa-edit green-icon" (click)="fillForm(schedule)"></i>
      </td>
    </tr>
  </tbody>
</table>
<app-bus-schedule-reg></app-bus-schedule-reg>
