/* app.component.css */
.menu {
    background-color:rgb(241, 45, 45);
    color: whitesmoke;
    padding: 12px;
    text-align: center;
  }
  
  .menu a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .menu a:hover {
    background-color: darkgoldenrod;
    color: white;
  }
  
  .menu a.active {
    color: lightyellow;
  }
  