<div class="container mt-5 d-flex flex-column align-items-center">
  <h2 class="mb-4">Admin's Dashboard</h2>
  
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Buses Management</h5>
        
        <a routerLink="/buses" class="btn btn-danger btn-lg btn-block">Manage Buses</a>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bus Seat Arrangements</h5>
        
        <a routerLink="/seat" class="btn btn-danger btn-lg btn-block">Go to Bus Seats</a>
      </div>
    </div>
    <br>
 
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Booking Details</h5>
        
        <a routerLink="/booking" class="btn btn-danger btn-lg btn-block">View Bookings</a>
      </div>
    </div>
    <br>
   
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bus Schedule Management</h5>
        
        <a routerLink="/schedule" class="btn btn-danger btn-lg btn-block">Manage Schedules</a>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Users Management</h5>
        
        <a routerLink="/user" class="btn btn-danger btn-lg btn-block">Manage Users</a>
      </div>
    </div>
  </div>
</div>
